/* breadcrumbs ----------------------- */
.breadcrumb {
  display: none;
  padding: 4rem 4rem;
}

@media (min-width: 764px) {
  .breadcrumb {
    display: block;
  }
}

/* Footer----------------------------------*/
.Footer__ThemeAuthor {
  display: none;
}


.finalsale_container p {
    background: #96905b;
    width: fit-content;
    padding: 2px 5px;
    letter-spacing: 1px;
    color: white;
    font-weight: 500;
    margin-top: 6px;
}


.badge_top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: white;
    padding: 0px 13px;
}
